# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Mike Davis
	email = michaeltdavis@gmail.com
[alias]
	graph = log --oneline --graph --decorate --all
[diff]
	algorithm = patience
[push]
	default = simple
